# Ignore Python bytecode
__pycache__/
*.py[cod]

# Ignore virtual environments
venv/
env/

# Ignore logs and databases
*.log
*.sqlite3

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore datasets
*.csv
*.xlsx

# Ignore system files
.DS_Store
Thumbs.db

